<section>
	<h1>Show</h1>

	<p>
		<strong>Original Creator:</strong>
		<%= @quip.author %>
	</p>
</section>

<section>
	<h2>Diffs</h2>
</section>

	<%= render @quip.diffs.reverse %>

<section>
	<h2>Add a diff:</h2>
	<%= render 'diffs/form' %>

	<%= link_to 'Home', quips_path %>
</section>