<p>
	<strong>Text:</strong>
	<%= diff.text %>
</p>

<p>
	<strong>Author:</strong>
	<%= diff.author %>
</p>

<p>
	<strong>Branch:</strong>
	<%= diff.branch %>
</p>

<p>
	<strong>Offensive:</strong>
	<%= diff.offensive %>
</p>
