<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Quip:</strong>
  <%= comment.quip %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>

<p>
	<%= link_to 'Destroy Comment', [comment.quip, comment],
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
</p>