<p>
  <strong>Author:</strong>
  <%= comment.author %>
</p>

<p>
  <strong>Text:</strong>
  <%= comment.text %>
</p>

<p>
	<%= link_to 'Destroy Comment', [comment.quip, comment],
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
</p>