<section id="intro">
	<h1>Hello there!</h1>
	<p>Thanks for taking a look at one of my projects. Here's a overview of this tool.</p>
	<%= link_to 'Take me to the app', quips_path %>
</section>

<section id="points-list">
	<ul>
		<li>
			<i>icon</i>
			<div id="selling-points">
				<h2>Collaborative Writing Tool</h2>
				<p>This product is allows writers to collaborate and contribute
				to one-liners. As writers contribute they are presented an on-going
				history of all the previous contributions.</p>
			</div>
		</li>
		<li>
			<i>icon</i>
			<div id="selling-points">
				<h2>Responsive Modern UI</h2>
				<p>This product was inspired by the design language found in 
				twitter and reddit.</p>
			</div>
		</li>
		<li>
			<i>icon</i>
			<div id="selling-points">
				<h2>Ruby on Rails CRUD Workflow</h2>
				<p>When creating this project I defined the problem space first
				then found the most appropriate framework to solve that problem.
				As such, this uses Ruby on Rails.</p>
			</div>
		</li>
	</ul>
</section>