<div id="content">
	<section id="intro">
		<h1>Hello there!</h1>
		<p>Thanks for taking a look at one of my projects. Here's an overview of this tool.</p>
		<%= link_to 'Take me to the app', quips_path %>
	</section>

	<section id="points-list">
		<ul>
			<li>
				<div>
					<i class="fas fa-chalkboard-teacher fa-3x" style="width: 80px !important;"></i>
				</div>
				<div id="selling-points">
					<h2>Collaborative Writing Tool</h2>
					<p>This project allows writers to collaboratively contribute
					to <a href="https://www.dictionary.com/browse/quip">quips</a>.
					As writers contribute they are presented with an on-going
					history of all previous contributions.</p>
				</div>
			</li>
			<li>
				<div>
					<i class="fab fa-reddit-alien fa-3x" style="width: 80px !important;"></i>
				</div>
				<div id="selling-points">
					<h2>Responsive Modern UI</h2>
					<p>The design used on this project was inspired by the scrolling card designs used by
					<a href="https://twitter.com/">twitter</a> and <a href="https://reddit.com">reddit</a>.</p>
				</div>
			</li>
			<li>
				<div >
					<i class="fas fa-gem fa-3x" style="width: 80px !important;"></i>
				</div>
				<div id="selling-points">
					<h2>Ruby on Rails CRUD Workflow</h2>
					<p>When planning this project I started by defining the problem my team faced.
					From there, I found the most appropriate framework to solve that problem.
					As such, this project is implemented with <a href="https://rubyonrails.org/">Ruby on Rails</a>.</p>
				</div>
			</li>
		</ul>
	</section>
</div>

<div id="background"></div>