// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background-color: lightblue;
	/*font-family: ;*/
}

section {
	max-width: 800px;
	margin: auto;
}

li {
	display: flex;
	/*flex-direction: row;*/
}

#intro {
	text-align: center;
	color: white;
}

